<!DOCTYPE HTML>
<html lang="fr">
	<head>
		<title>Billet simple pour l'Alaska</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../assets/css/main.css" />
	</head>

	<body id="bodynoheader" class="is-preload">

		<!-- Connexion -->
		<section id="footer">
			<div class="container" id="loginbox">
				<header class="major">
					<h2 id="contact">CONNEXION</h2>
				</header>

				<form method="post" action="backCtrl.php">
					<div class="row gtr-uniform">
						<div class="col-6 col-12-xsmall"><input type="text" name="userName" id="userName" placeholder="Identifiant" /></div>
						<div class="col-6 col-12-xsmall"><input type="password" name="password" id="password" placeholder="Mot de passe" /></div>
						<input type="hidden" name="user_type" id="user_type" value="1" />
						
						<div class="col-12">
							<ul class="actions special">
								<li><input type="submit" name="op" value="Valider" class="primary" /></li>
							</ul>
						</div>
					</div>
				</form>
			</div>

		<footer>
			<ul class="icons">
				<li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
				<li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
			</ul>

			<ul class="copyright">
				<li><a href="#header">&copy; JEAN FORTEROCHE</a></li>
				<li><a href="/login">CONNEXION</a></li>
			</ul>
		</footer>

	</section>

		<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

	</body>
</html>